In [2]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [3]:
df = pd.read_csv("data/raw.csv")

In [4]:
df.head(4)

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group D,master's degree,standard,none,62,70,75
1,female,group C,bachelor's degree,free/reduced,completed,66,83,83
2,female,group D,some college,free/reduced,none,79,89,86
3,male,group C,master's degree,free/reduced,none,61,67,66

In [5]:
df.shape

(1005, 8)

In [6]:
df.isnull().sum()

gender                         0
race_ethnicity                 0
parental_level_of_education    0
lunch                          0
test_preparation_course        0
math_score                     0
reading_score                  0
writing_score                  0
dtype: int64

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1005 entries, 0 to 1004
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1005 non-null   object
 1   race_ethnicity               1005 non-null   object
 2   parental_level_of_education  1005 non-null   object
 3   lunch                        1005 non-null   object
 4   test_preparation_course      1005 non-null   object
 5   math_score                   1005 non-null   int64
 6   reading_score                1005 non-null   int64
 7   writing_score                1005 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.9+ KB

In [12]:
df.duplicated().sum()

np.int64(5)

In [17]:
df.nunique()

gender                          2
race_ethnicity                  5
parental_level_of_education     6
lunch                           2
test_preparation_course         2
math_score                     81
reading_score                  72
writing_score                  77
dtype: int64

In [27]:
listofcol = df.columns
i =0
for col in listofcol:
    if i ==5:
        continue
    print(f"unique value in {col}: {df[col].unique()}")
    i+=1

unique value in gender: ['female' 'male']
unique value in race_ethnicity: ['group D' 'group C' 'group E' 'group B' 'group A']
unique value in parental_level_of_education: ["master's degree" "bachelor's degree" 'some college' 'high school'
 "associate's degree" 'some high school']
unique value in lunch: ['standard' 'free/reduced']
unique value in test_preparation_course: ['none' 'completed']

In [28]:
# define categorical and numerical data 
numerical_col = [feature for feature in df.columns if df[feature].dtype !="O"]
categorical_col = [feature for feature in df.columns if df[feature].dtype =="O"]

print(f"there are {len(numerical_col)} numerical columns :{numerical_col} ")
print(f"there are {len(categorical_col)} numerical columns :{categorical_col} ")

there are 3 numerical columns :['math_score', 'reading_score', 'writing_score']
there are 5 numerical columns :['gender', 'race_ethnicity', 'parental_level_of_education', 'lunch', 'test_preparation_course']